<nav class="bg-gray-800 text-white flex py-4">
  <div class="container flex items-center justify-between">
    <a href="/" class="text-xl font-bold"></a>

    <ul class="flex items-center">
      <li><a href="/" class="p-4">Home</a></li>
      <li><a href="/about" class="p-4">About</a></li>
      <li><a href="/gallery" class="p-4">Gallery</a></li>
      <li><a href="/contact" class="p-4 pr-0">Contact</a></li>
    </ul>
  </div>
</nav>
